<section>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef hidden="true">ID</th>
    <td mat-cell *matCellDef="let course" hidden="true">{{ course.id }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let course">{{ course.title }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let course">{{ course.price | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th class="mat-column-actions" *matHeaderCellDef>Actions</th>
    <td mat-cell class="mat-column-actions" *matCellDef="let course">
      <mat-icon
        *ngIf="!isAdmin; else courseMenu"
        (click)="openModal('detail', course.id)"
      >
        info_outline
      </mat-icon>
      <ng-template #courseMenu>
        <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openModal('detail', course.id)">
            Detail
          </button>
          <button mat-menu-item (click)="openModal('edit', course.id)">
            Edit
          </button>
          <button mat-menu-item (click)="openModal('remove', course.id)">
            Remove
          </button>
        </mat-menu>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
</section>
